// style.styl


// Settings
@import 'settings/axis'
@import 'settings/colors'
@import 'settings/font-face'
@import 'settings/font-families'
@import 'settings/font-sizes'
@import 'settings/font'
@import 'settings/grid'
@import 'settings/sizes'
@import 'settings/z-scales'


// Mixins
@import 'mixins/fixies'
@import 'mixins/shortcuts'


// Axis - Normalize and Base
normalize-css()
base()


// Libs - external customised libs
// should be placed in a 'libs' directory

// Modules
@import 'modules/base'
